@import url(//use.typekit.net/ppb5mwn.css);

body {
  font-family: aktiv-grotesk, sans-serif;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 200;
}
@media (min-width: 920px) {
  body {
    font-size: 16px;
    line-height: 1.65;
  }
}

main {
  padding: 20px 20px;
}
@media (min-width: 920px) {
  main {
    width: 850px;
    padding: 40px 40px;
  }
}

header h1 {
  font-size: 25px;
  padding: 0 0 25px;
  font-weight: 700;
}
@media (min-width: 920px) {
  header h1 {
    font-size: 33px;
    padding: 0 0 50px;
  }
}

header h1 a, header h1 a:link, header h1 a:visited {
  color: #000;
  text-decoration: none;
  border-bottom: 7px solid #dddddd;
}
header h1 a:hover, header h1 a:active {
  border-bottom-color: #0FA3B1;
}

.links, .blog-photo-container {
  padding-top: 1.5rem;
  border-top: 1px solid #eeeeee;
  margin-top: 1rem;
}

ul, ol {
  padding: 0 0 12px 20px;
}
ul li {
  list-style: disc;
}
ol li {
  list-style: decimal;
}

.post__title {
  font-weight: bold;
  font-size: 25px;
  padding: 10px 0 0px;
  margin: 0;
}

@media (min-width: 920px) {
  .post__title {
    font-size: 33px;
  }
}

.post__metadata {
  color: #777;
  padding: 15px 0 30px;
}

.post__metadata p {
  padding: 1px 0;
}

.post__body h1 {
  font-weight: bold;
  font-size: 24px;
  padding: 24px 0 0;
}

.post__body h2 {
  font-weight: bold;
  font-size: 18px;
  padding: 18px 0 0;
}

p {
  padding: 12px 0;
}
@media (min-width: 920px) {
  p {
    padding: 15px 0;
  }
}
@media (max-width: 920px) {
  p img {
    max-width: 100%;
  }
}

p.current {
  font-size: 19px;
}
@media (min-width: 920px) {
  p.current {
    font-size: 25px;
  }
}

a, a:link, a:visited {
  color: #0FA3B1;
  text-decoration: underline;
}
a:hover, a:active {
  color: #035752;
}

em {
  font-style: italic;
}
strong {
  font-weight: 700;
}

li.year {
  padding: 20px 0;
}
li.year h2 {
  font-weight: bold;
  padding: 0 0 5px;
}

ul.post-list, ul.book-list {
  padding-left: 0;
}
ul.post-list > li, ul.book-list > li {
  list-style: none;
}
ul.post-list .date {
  color: #999;
}
ul.post-list .date::before {
  content: '–';
  padding-right: 5px;
}
ul.posts, ul.books {
  padding-left: 20px;
}
ul.posts li, ul.books li {
  list-style: disc;
  margin: 2px 0;
}

aside.footnote {
  border-top: 1px solid #ccc;
  margin: 40px 0 0;
  padding: 20px 0 0;
}

blockquote {
  padding-left: 30px;
  color: #666;
}

figure {
  padding: 12px 0;
}

figcaption {
  color: #666;
  font-style: italic;
}

.json-link {
  border-top: 1px solid #ddd;
  padding-top: 2rem;
  font-size: .9em;
}

.blog-photo-container {
  overflow: auto;
}

@media (max-width: 919px) {
  .photo-links {
    border-top: 1px solid #eeeeee;
    margin-top: 1.3rem;
    padding-top: 1.3rem;
  }
}

@media (min-width: 920px) {
  .post-links, .photo-links {
    width: 50%;
    float: left;
  }
}

.blog-photo-container h2 {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.post-links ul.post-list li {
  margin: 1.3rem 0;
  line-height: 1.4em;
}
.post-links ul.post-list .date {
  display: block;
}
.post-links ul.post-list .date::before {
  content: none;
}
.post-links p.more {
  padding: 0 0 .75rem;
}

.post sup {
  vertical-align: super;
  font-size: .85em;
  padding-left: .25em;
  padding-right: .25em;
  line-height: 0;
}

.post .footnotes {
  padding-left: 20px;
  margin-top: 1em;
  padding-top: .5em;
  border-top: 1px solid #eee;
}
.post .footnotes ol li {
  list-style: decimal;
}

.image--block {
  background: rgba(0,0,0,0.04);
  display: block;
  text-align: center;
  padding: 10px;
  margin: 6px 0;
  line-height: 0;
}

.image--block img {
  max-height: 100%;
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #fff;
  }

  a, a:link, a:visited {
    color: #11C3D6;
    text-decoration: underline;
  }
  a:hover, a:active {
    color: #1199A8;
  }

  header h1 a, header h1 a:link, header h1 a:visited {
    color: #fff;
    border-bottom-color: #444;
  }
  header h1 a:hover, header h1 a:active {
    border-bottom-color: #1199A8;
  }

  figcaption, blockquote, .post__metadata, ul.post-list .date {
    color: #ccc;
  }

  .links, .blog-photo-container, .photo-links, .post .footnotes, aside.footnote, .json-link {
    border-top-color: #444;
  }

  .image--block {
    background: rgba(0,0,0,0.2);
  }
}

