@import url(//use.typekit.net/ppb5mwn.css);

body {
  font-family: 'Nimbus-Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 200;
}
@media (min-width: 920px) {
  body {
    font-size: 18px;
  }
}

main {
  padding: 20px 20px;
}
@media (min-width: 920px) {
  main {
    width: 850px;
    padding: 40px 40px;
  }
}

header h1 {
  font-size: 25px;
  padding: 0 0 25px;
  font-weight: 700;
}
@media (min-width: 920px) {
  header h1 {
    font-size: 33px;
    padding: 0 0 50px;
  }
}

.links {
  padding-top: 20px;
  border-top: 1px solid #eeeeee;
  margin-top: 20px;
}

ul {
  padding: 0 0 12px 20px;
}
li {
  list-style: disc;
}

.post h1 {
  font-weight: bold;
  font-size: 25px;
  padding: 10px 0 15px;
}

.post .metadata {
  color: #777;
  padding: 15px 0;
}
.post .metadata p {
  padding: 1px 0;
}

p {
  padding: 12px 0;
}
@media (min-width: 920px) {
  p {
    padding: 15px 0;
  }
}
@media (max-width: 920px) {
  p img {
    max-width: 100%;
  }
}

p.current {
  font-size: 19px;
}
@media (min-width: 920px) {
  p.current {
    font-size: 25px;
  }
}

a, a:link, a:visited {
  color: #139890;
  text-decoration: underline;
}
a:hover, a:active {
  color: #035752;
}

em {
  font-style: italic;
}
strong {
  font-weight: 700;
}

li.year {
  padding: 20px 0;
}
li.year h2 {
  font-weight: bold;
  padding: 0 0 5px;
}

ul.post-list, ul.book-list {
  padding-left: 0;
}
ul.post-list > li, ul.book-list > li {
  list-style: none;
}
ul.posts, ul.books {
  padding-left: 20px;
}
ul.posts li, ul.books li {
  list-style: disc;
  margin: 2px 0;
}

aside.footnote {
  border-top: 1px solid #ccc;
  margin: 40px 0 0;
  padding: 20px 0 0;
}

blockquote {
  padding-left: 30px;
  color: #666;
}

figure {
  padding: 12px 0;
}

figcaption {
  color: #666;
  font-style: italic;
}
