<!doctype html>
<html>
<head>

  <title>Jordan Hatch</title>

  <style type="text/css">
    @import url('css/reset.css');
    @import url('css/base.css');
  </style>

  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% endif %}
</head>
<body>

  <header>
    <h1>Jordan Hatch</h1>
  </header>

  {{ content }}

  <footer>
    <p class="wrapped">Say hello at <a href="mailto:jordan@jordanh.net">jordan@jordanh.net</a>. I'm also on <a href="https://twitter.com/1jh">Twitter</a>, <a href="https://flickr.com/photos/jordanh14">Flickr</a> and <a href="https://pinboard.in/u:1jh">Pinboard</a>.</p>
  </footer>

</body>
</html>
