<!doctype html>
<html>
<head>

  {% if page.title %}
  <title>{{ page.title }} : Jordan Hatch</title>
  {% else %}
  <title>Jordan Hatch</title>
  {% endif %}

  <style type="text/css">
    @import url('{{ site.url }}/css/reset.css');
    @import url('{{ site.url }}/css/layout.css');
  </style>

  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% endif %}

  <meta charset="utf8">
  <meta name="viewport" content="width=device-width">
</head>
<body>

  <main>
    {{ content }}
  </main>

</body>
</html>
