---
layout: default
---

<header>
  {% if page.url != '/' %}
    <h1>
      <a href="{{ site.url }}">Jordan Hatch</a>
    </h1>
  {% else %}
    <h1>Jordan Hatch</h1>
  {% endif %}
</header>

<div class="intro">
  {{ content }}
</div>

<div class="blog-photo-container">
  <div class="post-links">
    <h2>Recent blog posts</h2>

    <ul class="post-list">
      {% for post in site.posts limit:4 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span class="date">{{ post.date | date: "%d %b %Y" }}</span>
        </li>
      {% endfor %}
    </ul>

    <p class="more">
      <a href="{{ site.url }}/posts">See all blog posts</a>
    </p>
  </div>

  <div class="photo-links">
    <h2>Recent photos</h2>

    <j-photo-grid></j-photo-grid>

    <p class="more">
      <a href="https://photo.jordanh.net/">See more photos</a>
    </p>
  </div>
</div>

<div class="links">
  <ul>
    <li><a href="{{ site.url }}/books">Books recently read</a></li>
  </ul>

  <ul>
    <li><a href="https://twitter.com/1jh">Twitter</a></li>
    <li><a rel="me" href="https://mastodon.social/@1jh">Mastodon</a></li>
    <li><a href="https://flickr.com/photos/jordanh14/">Flickr</a></li>
    <li><a href="https://pinboard.in/u:1jh">Pinboard</a></li>
    <li><a href="https://github.com/JordanHatch">GitHub</a></li>
    <li><a href="https://keybase.io/1jh">Keybase</a></li>
  </ul>
</div>
