---
layout: default
---

<article class="post">

  <h1 class="post__title">{{ page.title }}</h1>

  <aside class="post__metadata">
    <p class="author">by Jordan Hatch</p>
    <p class="date">{{ page.date | date_to_string }}</p>
  </aside>

  <div class="post__body">
    {{ content }}
  </div>
</article>

<aside class="footnote">
  <p>Read more of <a href="{{ site.url }}/posts">my blog posts</a> or <a href="{{ site.url }}">head back to the homepage</a>.<br>
      Say hello at <a title="Send email to jordan@jordanh.net" href="mailto:jordan@jordanh.net">jordan@jordanh.net</a>.</p>
</aside>
