---
layout: default
---

<article class="post">

  <h1>{{ page.title }}</h1>

  <aside class="metadata">
    <p class="author">by Jordan Hatch</p>
    <p class="date">{{ page.date | date_to_string }}</p>
  </aside>

  {{ content }}

</article>

<aside class="footnote">
  <p><a href="{{ site.url }}/">Jordan Hatch</a> is a technologist and digital strategist based in Sydney, Australia. He's worked with governments in the UK, Europe, and Australia, but the posts here are made in a personal capacity.</p>
  <p>Read more of <a href="{{ site.url }}/posts">his blog posts</a> or contact him at <a title="Send email to jordan@jordanh.net" href="mailto:jordan@jordanh.net">jordan@jordanh.net</a>.</p>
</aside>
